argh==0.26.2
astroid==1.6.3
boto3==1.4.7
botocore==1.7.44
coverage==4.5.1
docutils==0.14
isort==4.3.4
jmespath==0.9.3
lazy-object-proxy==1.3.1
lockfile==0.12.2
mccabe==0.6.1
nose2==0.7.0
nosy==1.2
pathtools==0.1.2
pylint==1.8.4
python-daemon==2.1.2
python-dateutil==2.7.2
PyYAML==5.4
s3transfer==0.1.13
service==0.4.1
setproctitle==1.1.10
six==1.11.0
watchdog==0.8.3
wrapt==1.10.11
